body {
	margin: 0;
}

:root {
	--logo-gold: #886E42;
}

@font-face {
	font-family: "Philosopher";
	src: url('fonts/Philosopher/Philosopher-Regular.ttf'), url('fonts/Philosopher/Philosopher-Bold.ttf'), url('fonts/Philosopher/Philosopher-BoldItalic.ttf'), url('fonts/Philosopher/Philosopher-Italic.ttf')
}

@font-face {
	font-family: "Monteserrat";
	src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf'), url('fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}

#container {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
}

#container > * {
    width: 100%;
	font-family: "Monteserrat";
}

#container > header {
	display: grid;
    grid-template-columns: repeat(3,1fr);
	padding: 1rem 2rem;
	align-items: center;
	justify-content: space-between;
	color: var(--logo-gold);
	font-family: "Monteserrat";
	width: auto;
}

.content {
	flex: 1;
	display: flex;
	flex-direction: column;
}

ul {
	list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
	gap: 20px;
    justify-content: center;
}

ul li {
	cursor: pointer;
	display: flex;
	align-items: center;
}

.logo {
	font-family: "Philosopher";
	font-style: italic;
	font-size: 5vh;
	font-weight: 800;
	display: flex;
	gap: 2rem;
	align-items: center;
	flex-wrap: wrap;
}

.location, ul {
	font-style: normal;
	font-family: "Monteserrat";
	font-weight: 600;
	font-size: 1.5vh;
}

.directions {
	background-color: var(--logo-gold);
    color: #fff;
    height: 60%;
    display: flex;
    align-items: center;
    padding: 0.3rem 1rem;
    font-size: 1.5vh;
    font-weight: 600;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    justify-self: end;
}

.unique {
	flex: 1;
}

.unique {
	display: flex;
	justify-content: flex-end;
}

.socialMedia img {
	width: 20px;
	height: 20px;
	background-color: var(--logo-gold);
	border-radius: 40%;
	margin: 10px;
	padding: 7px;
}

.imgDisplay {
    background-image: url("./images/restaurant2.jpg");
    height: 40vw;
    background-size: cover;
    background-position-y: center;
	transition:all 0.5s ease-in-out;
}

footer {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1vh;
}